* {
  outline: 1px solid rgba(255,0,0,0.2);
}


html {
  font-size: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

a {
  color: #3d2b1f;
}

a:hover{
  transform:translateY(-3px); 
}

body {
  margin: 0;
      max-width: 100%;
      font-family: 'Marck Script', cursive;
      background-color: #fff8f2;
      color: #3d2b1f;
      align-items: center;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1590080876273-4cacc45b97ab'); /* можешь заменить на мандарины */
      background-size: cover;
      max-width: 100%;
      background-position: center;
      padding: 3rem 2rem;
      text-align: center;
      align-items: center;
      color: white;
}

.hero p {
      font-size: 1.8rem;
      margin-bottom: 3rem;
      text-shadow: 1px 1px 4px #000;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      pointer-events: none;
      max-width: 100%;
    }

h1 {
  font-size: 3.6rem;
  color: white;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px #000;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none; /* чтобы текст не мешал кликам */
}

h2 {
  text-align: center;
  font-size: 2.8rem;
  color: #3d2b1f;
}

h3 {
  text-align: center;
  font-size: 2.4rem;
  color: #3d2b1f;
}

h4 {
  font-size: 2.2rem;
  text-align: center;
  color: #3d2b1f;
}

h5 {
  font-size: 2rem;
  text-align: center;
  color: #3d2b1f;
}

.logotype {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
 /* или фиксированная ширина */
}

.logo_image {
  display: block;
  border-radius: 20px;
  width: 35rem;
}

/*buttons on hero, buttons into dialog*/
.hero button {
      padding: 1.5rem 3rem;
      margin: 1rem;
      font-size: 1.8rem;
      color: #3d2b1f;
      background-color: #ffcc88;
      border: none;
      border-radius: 0.8rem;
      cursor: pointer;
      font-family: 'Marck Script', cursive;
      transition: background-color 0.3s;
 }

/*hover effect in hero buttons*/
.hero button:hover {
      background-color: #ffb066;
    }


/*style of dialog place*/
dialog {
      border: none;
      border-radius: 1.2rem;
      padding: 2rem 3rem;
      background-color: #fff8f0;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
      font-family: 'Marck Script', cursive;
      font-size: 1.1rem;
      color: #3c2f2f;
      text-align: center;
    }

/*visual effect for dialog opening*/
dialog::backdrop {
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(4px);
    }

    /*style of dialog buttons*/
dialog button {
      margin: 1rem 0.8rem;
      padding: 1rem 1.6rem;
      border: none;
      border-radius: 0.8rem;
      background-color: #ffcfba;
      color: #3c2f2f;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

/*hover effect into dialog*/
dialog button:hover {
      background-color: #ffa889;
    }

/*sections*/
/*titles of sections*/
.candles {
      padding-top: 20rem;
      max-width: 100%;
      text-align: center;
      font-size: 1.6rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
.cakes {
      padding-top: 10rem;
      max-width: 100%;
      text-align: center;
      font-size: 1.6rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

/*style of place for photos of candles and cakes*/
#candlesContainer,
#cakesContainer {
      display: flex;
      max-width: 100%;
      flex-wrap: nowrap;
      padding-top: 3rem;
      padding-bottom: 3rem;
      overflow-x: auto;
      gap: 2rem;
      scroll-behavior: smooth;
      scrollbar-width: none;
    }

/*hidden scrollbar of galeries*/
#candlesContainer::-webkit-scrollbar,
#cakesContainer::-webkit-scrollbar {
      display: none;
    }

/**/
.candles-slides, .cakes-slides {
      width: 100%;
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      box-sizing: border-box;
      gap: 1rem;
      justify-content: flex-start;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      border-top: 2px solid #3d2b1f;
      border-bottom: 2px solid #3d2b1f;
    }
/**/

/*hover effect any of the candles*/

  .candles-slides:hover .candles-slides-item,
  .cakes-slides:hover .cakes-slides-item {
      filter: blur(2px);
      transform: scale(1);
      transition: 0.3s ease;
    }

/*pointed candle is clear and enlarged*/

    .candles-slides .candles-slides-item:hover,
    .cakes-slides .cakes-slides-item:hover {
      filter: blur(0);
      transform: scale(1.1);
      z-index: 5;
    }
/*cards*/
    .candles-slides-item, .cakes-slides-item {
      margin-top: 1rem;
      margin-bottom: 1rem;
      flex: 0 0 auto;
      margin: 0;
      max-width: 25rem;
      position: relative;
      transition: transform 0.3s ease;
    }
/*pictures*/

    .candles-slides-item img, .cakes-slides-item img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 1.2rem;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
/*example with img comments*/

    figure {
      margin: 0;
    }

    figcaption {
      font-size: 1.3rem;
      color: #667;
      margin-top: 0.5rem;
      text-align: center;
    }
/*order-buttons*/

    .order-btn, .order-btn2 {
      position: relative;
      font-size: 1.6rem;
      margin: 1rem 0.8rem;
      padding: 1rem 1.6rem;
      border: none;
      border-radius: 8px;
      font-family: 'Marck Script', cursive;
      background-color: #ffcc88;
      color: #3c2f2f;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease; 
      align-items: center;
    }
/*order field*/

    .order{
      max-width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
    }

    .order-btn:hover,
    .order-btn2:hover {
      background-color: #ffa889;
    }

.about p{
  font-size: 1.6rem;
}

.about {
  max-width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.card {
      max-width: 70rem;
      margin: 0 auto;
      padding: 2rem;
      text-align: left;
      border: 1px thin #3d2b1f;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
 #cakes-list, #candles-list {
      font-size: 1.6remrem;
      margin-bottom: 0.8rem;
    }
    #cakes-resume, #candles-resume {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }
 /*mobile phone adaptation*/

    @media (max-width: 600px) {
      #footer{
        flex-direction: column;
        gap: 2rem;
        
        width: 100%;
      }
    }
#footer {
      display: flex;
      max-width: 100%;
      width: 100%;
      font-size: 1.6rem;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 19rem;
      padding: 4rem;
      padding-left: 10rem;
      padding-right: 10rem;
      margin-bottom: 4rem;
      margin-top: 20rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
      border-top: 2px solid #3d2b1f;
      border-bottom: 2px solid #3d2b1f;
    }


#footer {
    
    width: 100%;
    box-sizing: border-box;
}
 .for_contact {
     max-width: 100%;
    }
